<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>1024.glod</title>
    <link th:replace="common">
</head>
<body>
<!-- header -->
<div th:replace="header"></div>

<div class="container-fluid">
    <div class="row">

        <div class="col-2">
            <!-- sidebar -->
            <div th:replace="sidebar"></div>
        </div>


        <div class="col-8">

            <div th:if="${articleList.size() > 0}" class="list-group">
                <a th:each="article:${articleList}" href="#"  style="margin-bottom: 10px" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1" th:text="${article.tittle}"></h4>
                        <div style="float: left" th:if="${article.labelsList.size() > 0}">
                            <span th:each="label:${article.labelsList}" class="badge badge-pill badge-primary" th:text="${label.name}"></span>
                        </div>
                        <small th:text="${article.date}"></small>
                    </div>
                    <div th:name="content_p" class="mb-1 text-truncate text-justify" th:text="${article.content}"></div>
                    <img th:src="@{/images/defult.png}" alt="用户头像" class="rounded-circle"
                         style="height: 30px;width: 30px" src="#">
                    <small th:text="${article.username}" style="font-size: 20px"></small>
                    <div style="float: right">
                        <img src="#" th:src="@{/assets/icons/hand-rhumbs-up.svg}" alt="点赞"><small th:text="${article.likeCount}"></small>
                        <img src="#" th:src="@{/assets/icons/eye-fill.svg}" alt="浏览"><small th:text="${article.views}"></small>
                        <img src="#" th:src="@{/assets/icons/chat-dots-fill.svg}" alt="评论"><small th:text="${article.commentCount}"></small>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>
<script>
</script>
</html>